.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: transparent;
  z-index: 9999;
}

.progress-bar {
  height: 100%;
  background-color: #ff0000; 
  transition: width 0.3s ease;
}
